html, body, div, span, applet, object, iframe,
h1,h2,h4,h5,h3, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; 
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

ul {
  list-style: none; 
}
blockquote, q {
  quotes: none; 
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; 
}
.no-padding{
    padding: 0px;
}
span{
    display:inline-block;
}
.clear{
    clear:both;
}
html, body{ 
    height: 100%; 
}
.mCSB_inside > .mCSB_container{
    margin-right: 0 !important;
}
/* header
==============================*/
.header__wrap{
    background:url(../img/headerbg.jpg) no-repeat top center;
    background-size:cover;
    width: 100%;
    padding-bottom: 71px;
    &_top{
        // background-color: rgba(83, 122, 191, 0.43);
        background-color: #fff;
        // background-image: linear-gradient(to top, transparent 0%, rgba(30, 184, 255, 0.6) 100%);
        padding-top: 21px;
        @media only screen and (min-width : 992px) {
            padding-bottom: 39px;
        }
    }
}
.header{
    padding-left: 15px;
    padding-right: 15px;
    position: relative;
    @media only screen and (min-width : 992px) {
        padding-left: 0;
        padding-right: 0;
    }
    &__menu-box{
        display: none;
        @media only screen and (min-width : 992px) {
            display: block !important;
        }
    }
    &__bars{
        position: absolute;
        left: 15px;
        top: -7px;
        @media only screen and (min-width : 992px) {
            display: none;
        }
        .fa-bars{
            color:#3B3B3B;
            font-size: 30px;
            cursor: pointer;
        }
    }
    &__lang{
        text-align: right;
        padding-bottom: 28px;
        a{
            font-size: 20px;
            font-family: "HelveticaNeueCyr-Light";
            color: #3B3B3B;
            margin-left: 17px;
            &:hover{
             color: #075aa0;
         }
     }   
 }
 &__tel{
    text-align: center;
    @media only screen and (min-width : 992px) {
        text-align: left;
        &_box{
            float: left;
        }
        &_bottom{
            padding-top: 13px;
            padding-left: 10px;
            @media only screen and (min-width : 1240px) {
                padding-left: 78px;
            }
        }
    }
    span{
       font-family: "HelveticaNeueCyr-Roman";
       font-size: 27px;
       color: #3B3B3B;
       background:url(../img/tel2.jpg) no-repeat left center;
       padding-left: 24px;
   }
}
&__menu{
    text-align: center;
    @media only screen and (min-width : 992px) {
        display: flex;
        justify-content: space-between;
        padding-top: 16px;
        padding-bottom: 20px;
        // border-bottom: 1px solid #fff;
    }
    @media only screen and (min-width : 1240px) {
      margin-left: 28px;
  }
  li{
    margin: 15px 0px;
    @media only screen and (min-width : 992px) {
        display: inline-block;
        margin: 0;
    }
    a{
        font-size: 21px;
        text-transform: uppercase;
        color: #3B3B3B;
        font-family: "HelveticaNeueCyr-Thin";
    }
}
}
}
.header__bottom{
    text-align: center;
    padding-top: 70px;
    padding-bottom: 100px;
    span{
        font-size: 45px;
        text-transform: uppercase;
        color:#fff;
        font-family: "HelveticaNeueCyr-Black";
        @media only screen and (min-width : 992px) {
            font-size: 68px;
            padding-bottom: 5px;
        }
    }
    p{
        font-size: 20px;
        font-style: italic;
        color:#fff;
        font-family: "HelveticaNeueCyr-Light";
        max-width: 358px;
        margin: 0 auto;
    }
}


.block-logo{
    display: inline-block;  
    width: 100%;
    position: relative;
    overflow: hidden;
    text-align: center;
    transform-origin: center;
    img{
        margin: 0 auto;
    }
}

.block-logo__hover{
    position: absolute;
    // top: 0px;
    // left: 0px;
    top:0px;
    left:50%;
    transform: translateX(-50%); 

    background: rgba(200,200,200,0.7);
    width: 288px;
    height: 100%;
    color: #fff;
    opacity: 0;
    -o-transition: all 0.5s linear 0s;
    -webkit-transition: all 0.5s linear 0s;
    -moz-transition: all 0.5s linear 0s;
    -o-transition: all 0.5s linear 0s;
    transition: all 0.5s linear 0s;
    transition-delay:0.2s;
    @media only screen and (min-width : 992px) {
        width: 100%;
    }
    @media only screen and (min-width : 1240px) {
        width: 98%;
    }
    p{
        font-family: "HelveticaNeueCyr-Light";
        font-size: 18px;
        margin: 155px 0px 25px 0 ;
        text-align: left;     
        padding: 0px 21px;
        opacity: 0;
        color: white;
        -o-transition: all 0.3s linear 0s;
        -webkit-transition: all 0.3s linear 0s;
        -moz-transition: all 0.3s linear 0s;
        -o-transition: all 0.3s linear 0s;
        transition: all 0.3s linear 0s;     
    }
}
.block-logo__hover_3{
    p{
        margin: 111px 0px 25px 0 ;
        @media only screen and (min-width : 992px) {
            margin: 84px 0px 25px 0 ;
        }
        @media only screen and (min-width : 1240px) {
            margin: 111px 0px 25px 0 ;
        }
    }
}
.block-logo:hover{
    .block-logo__hover{
        opacity: 1;
        p{
            opacity: 1;
        }
    }   
}
.block-logo_1{
   height: 262px;
   @media only screen and (min-width : 992px) {
    height: 222px;
    .block-logo__hover{
        p{
            margin: 84px 0px 25px 0 ;
        }
    }
}
@media only screen and (min-width : 1240px) {
    height: 262px;
    .block-logo__hover{
        p{
            margin: 155px 0px 25px 0 ;
        }
    }
}
}
.block-logo_2{
    height: 425px;
    @media only screen and (min-width : 992px) {
        height: 360px;
    }
    @media only screen and (min-width : 1240px) {
        height: 425px;
    }
}
.block-logo_3{
    height: 209px;
    @media only screen and (min-width : 992px) {
        height: 178px;
        .block-logo__hover{
            p{
                margin: 41px 0px 25px 0 ;
            }
        }
    }
    @media only screen and (min-width : 1240px) {
        height: 209px;
        .block-logo__hover{
            p{
                margin: 111px 0px 25px 0 ;
            }
        }
    }
}
.block-logo_4{
   height: 262px;
   @media only screen and (min-width : 992px) {
    height: 222px;
}
@media only screen and (min-width : 1240px) {
    height: 262px;
}
}

/* Slider 1
=============================*/
.slider-txt{
    position: absolute;
    left:50%;
    transform: translateX(-50%); 
    width: 260px;
    bottom: 39px;
    text-align: center;
    span{
        font-size: 24px;
        text-transform: uppercase;
        color: white;
        font-family: "HelveticaNeueCyr-Light";
    }
}
.h2_slider{
    text-align: center;
    border-bottom: 1px solid #EDEDED;
    font-family: "HelveticaNeueCyr-Light";
    text-transform: uppercase;
    width: 250px;
    margin: 110px auto 34px;
    padding-bottom: 34px;
    font-size: 36px;
    color: #a0a0a0;
}

/* Slider 2
===============================*/
.ah-slider-title{
    display: block;
    color: #414042;
    font-size: 26px;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 50px;
}
.ah-slider{
    padding: 80px 0px;
    overflow: hidden;
}
.previous_item_2{
    display: none !important;
}
.next_item_2{
    display: none !important;
}
.enter-wrap{
    background:url(../img/bg2.jpg) no-repeat top center;
    padding-bottom: 140px;
    z-index: 1;
    background-size:cover;
    margin-top: -91px;
    position: relative;
}
.slider2-wrap{
    position: relative;
    background:url(../img/sky2.png) no-repeat top center;
    height: 973px;
    padding-top: 230px;
    z-index: 9999;
}
.enter__message{
    max-width: 640px;
    text-align: center;
    margin: 0 auto;
    padding-top: 178px;
    h2{
        font-size: 36px;
        text-transform: uppercase;
        font-family: "HelveticaNeueCyr-Light";
        color:#fff;
        border-bottom: 1px solid #fff;
        padding-bottom: 42px;
        margin-bottom: 19px;
    }
    p{
        font-size: 24px;
        color:#fff;
        font-family: "HelveticaNeueCyr-Light";
    }
}
.enter-input{
    height: 43px;
    background-color: white;
    outline: none;
    border:none;
    padding-left: 23px;
    color: #a7a7a7;
    font-size: 18px;
    font-family: "HelveticaNeueCyr-Light";
    line-height: 40px;
    float: left;
    width: calc(98% - 198px);
    margin-top: 39px;
}
.enter-submit{
    margin-top: 39px;
    float: right;
    width: 198px;
    outline: none;
    background:transparent;
    border:1px solid #fff;
    color: #fffefe;
    height: 43px;
    line-height: 40px;
    text-transform: uppercase;
    font-family: "HelveticaNeueCyr-Light";
    cursor:pointer;
}
.form-footer__wrap{
 padding-top: 162px;
}
.form-footer{
    text-align: center;
    max-width: 1064px;
    margin: 0 auto;
    border:1px solid #F0F0F0;
    padding-bottom: 70px;
    h2{
        font-size: 36px;
        text-transform: uppercase;
        color: #57a0d6;
        font-family: "HelveticaNeueCyr-Light";
        max-width: 912px;
        margin: 0 auto;
        background:#fff;
        margin-top: -20px;
        padding-bottom: 44px;
    }
}
.form-footer__box{
    max-width: 420px;
    margin: 0 auto;
    .footer-input{
        width: 100%;
        height: 43px;
        background-color: white;
        outline: none;
        border:1px solid #E8E8E8;
        padding-left: 23px;
        color: #a7a7a7;
        font-size: 18px;
        font-family: "HelveticaNeueCyr-Light";
        line-height: 40px;
        margin-bottom: 15px;
    }
    .footer-submit{
        height: 43px;
        background-color: #bee3ff;
        background-image: linear-gradient(to top, transparent 0%, rgba(30, 184, 255, 0.6) 100%);
        outline: none;
        border:none;
        font-size: 18px;
        font-family: "HelveticaNeueCyr-Light";
        text-transform: uppercase;
        color: #fefefe;
        line-height: 40px;
        width: 100%;
        margin-top: 15px;
        &:hover{
         background-color: #bee3ff;
         background-image: linear-gradient(to bottom, transparent 0%, rgba(30, 184, 255, 0.6) 100%);
     }
 }
}
.social{
    width: 226px;
    margin: 0 auto;
    padding: 55px 0px 67px;
    text-align: center;
    ul{
        li{
            display: inline-block;
            margin-left: 26px;
        }
        li:first-child{
            margin-left: 0px;
        }
    }
}
.copyright{
    max-width: 420px;
    margin: 0 auto;
    padding-bottom: 90px;
    .copyright-box_left{
        width: 10%;
        float: left;
        padding-top: 9px;
    }
    .copyright-box_right{
        width: 90%;
        float: right;
        padding-left: 39px;
        p{
            font-size: 12px;
            color: #999;
            font-family: "HelveticaNeueCyr-Light";
        }
    }
}

/* маска
===========================*/
#mask { position:absolute; left:0; top:0;  z-index:9000;  background-color:#000; width: 100%; height: 100%;  display:none; }

.window{ 
    display: none;
    position:absolute;
    left:0;  
    top:0;
    display:none;
    z-index:9998; 
    border:none;
    .form-wrap-main{
        border:1px solid grey;
        background: #fff;
        border-radius:10px;
        padding: 20px;
        max-width: 560px;
        .form-title{
            text-align: center;
            font-family: "HelveticaNeueCyr-Light";
            font-size: 30px;
            text-transform: uppercase;
        }
        .dd-form-txt{
            text-align: center;
            font-family: "HelveticaNeueCyr-Light";
            font-size: 30px;
        }
    }
    .dd-close{
        width: 15px;
        height: 15px;
        font-family: "HelveticaNeueCyr-Light";
        position:absolute;
        top:8px;
        right: 8px;
        cursor: pointer;
        transition: 0.5s;
        border-radius:10px;
    }
    .dd-close:hover{
        color:grey;
    }
}

/* partner
==============================*/

.img-box{
    margin-bottom: 10px;
    text-align: center;
}
.enter-wrap__partner{
    margin-top: 100px;
}
.partner-box{
    .brad-crump{
        font-family: "HelveticaNeueCyr-Light";
        font-size: 18px;
        a{
            color: #888;
        }
        span{
            color: #3f3f3f;
            display: inline-block;
            padding-left: 7px;
        }
    }
    &__img{
        text-align: center;
        padding: 60px 0px 50px;
    }
    &__txt{
        text-align: center;
        p{
         font-family: "HelveticaNeueCyr-Light";
         font-size: 24px;
         color: #6f6f6f;
         line-height: 34px;
         padding-bottom: 50px;
     }
 }
}
.img-text{
    position: relative;
    .txt-absolute{
     @media only screen and (min-width : 1240px) {
        position: absolute;
        max-width: 735px;
        left:406px;
        bottom:26px;
    }
    p{
        font-size: 18px;
        color: #878787;
        font-family: "HelveticaNeueCyr-Light";
    }
}
}
.privacy{
    display: inline-block;
    font-family: "HelveticaNeueCyr-Light";
    font-size: 18px;
    color: #878787;
    padding: 48px 0px 10px;
}

/* checkbox costomize
=================================*/
.checkbox {
    display: none;
}
.checkbox-box{
    max-width: 665px;
    margin: 0 auto;
    margin-top: 10px;
    text-align: left;
    .txt-check{
       font-family: "HelveticaNeueCyr-Light";
       color:#fff;
       font-size: 16px;
       @media only screen and (min-width : 768px) {
        font-size: 16px;
    }
}
}
/* Задаем внешний вид для нашего кастомного чекбокса. Все обязательные свойства прокомментированы, остальные же свойства меняйте по вашему усмотрению */
.checkbox-custom {
    position: relative;      /* Обязательно задаем, чтобы мы могли абсолютным образом позиционировать псевдоэлемент внютри нашего кастомного чекбокса */
    width: 14px;             /* Обязательно задаем ширину */
    height: 13px;            /* Обязательно задаем высоту */
    border: 2px solid #fff;
    background:none;
    border-radius: 10em;
    margin-top: -42px;
    margin-right: 7px;
    cursor:pointer;
}

/* Кастомный чекбокс и лейбл центрируем по вертикали. Если вам это не требуется, то вы можете убрать свойство vertical-align: middle из данного правила, но свойство display: inline-block обязательно должно быть */
.checkbox-custom,
.label {
    display: inline-block;
    vertical-align: middle;
}

/* Если реальный чекбокс у нас отмечен, то тогда добавляем данный признак и к нашему кастомному чекбоксу  */
.checkbox:checked + .checkbox-custom::before {
    content: "";             /* Добавляем наш псевдоэлемент */
    display: block;          /* Делаем его блочным элементом */
    position: absolute;      /* Позиционируем его абсолютным образом */

    /* Задаем расстояние от верхней, правой, нижней и левой границы */
    top: 0px;
    right: 2px;
    bottom: 2px;
    left: 0px;
    height: 10px;
    width: 10px;
    // width: 32px;
    // height: 30px;
    background: #2579BF;/* Добавляем фон. Если требуется, можете поставить сюда картинку в виде "галочки", которая будет символизировать, что чекбокс отмечен */
    border-radius: 10em;
}

/* Шторки
=================================*/
.container__bg{
    position: fixed;
    width: 100%;
    top:0;
    left:0;
    bottom:0;
    right: 0;
    height: 100vh;
    z-index: 9999;
    &_box{
        position: relative;
        height: 100vh;
        background:rgba(78, 151, 197, 0.5);
        opacity: 0;
    }
    &_left{
        float: left;
        width: 50%;
        animation: open 5s alternate;
    }
    &_right{
        float: right;
        width: 50%;
        animation: openright 5s alternate;
    }
}
.planes{
    position: absolute;
    &_left{
        right: 0;
        top:450px;
    }
    &_right{
        top:550px;
        left:50px;
    }
}

@keyframes open {
  0%  {
    margin-left: 0px;
    opacity:1;
}

75%  {
  margin-left: -200px;

}
95%{
    margin-left: -100%;
}
100% {
    display: none;
}
}

@keyframes openright {
  0%  {
    margin-right: 0px;
    opacity:1;
}

75%  {
  margin-right: -200px;

}
95%{
    margin-right: -100%;
}
100% {
    display: none;
}
}